<br>
<br>

<section class="main-content">
  <div class="container">
       <!-- medicine card starts here  -->
       <div class="row">
        <div *ngFor="let medicine of medicines" class="col-sm-6 col-md-6 col-lg-3">
          <div style="border-radius: 20px;" class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
            <div class="food-card_img position-relative">
              <img style="width:100%;height:200px;" src={{medicine.imageURL}} alt="">
            </div>
            <div class="food-card_content">
              <div class="overflow-hidden">
                <h5 class="food-card_title">{{medicine.name}}</h5>
              </div>
              <div class="food-card_bottom-section">
                <b style="font-size: 15px;">ManufactureBy:</b>
                <div class="d-flex justify-content-between">
                  <div style="font-size:12px ;">{{medicine.manufactureBy}}</div>
                </div>
                <b style="font-size: 15px;">Consume Type:</b>
                <div style="font-size:12px;">{{medicine.consumeType}}
                </div>
                <div style="margin-top:10px ;" class="d-flex justify-content-between">
                  <div class="food-card_price">
                    <span>{{medicine.price}}₹</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- medicine card ends here  -->
  </div>
</section>
<router-outlet></router-outlet>