<section class="main-content">
    <div class="container">
      <h3 style="text-align: center;color: rgb(28, 28, 25);">Plan your movie</h3>
  
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div style="border-radius: 20px;" class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
            <div class="food-card_img position-relative">
  
              <a > <img style="width:100%;height:200px;"  alt=""></a>
            </div>
            <div class="food-card_content">
              <div class="overflow-hidden">
                <h4 class="food-card_title"></h4>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
