<!-- Footer -->
<div style="background-color: rgb(44, 42, 42); margin-top: 20px;"  class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div  class="col-md-4 text-center">
  
          <!-- Content -->
          <h5  class="text-uppercase text-primary">Medicare</h5>
  
  
          <p class="text-primary">heal your pain!</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 text-center">
  
          <!-- Links -->
          <h5 class="text-uppercase text-primary">Mohd Aasim Ansari</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-primary" href="#">asimjazah8@gmail.com</a>
            </li>
            <li>
              <a class="text-primary" href="#">linkedIn</a>
            </li>
            <li>
              <a class="text-primary" href="#">instagram</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 text-center">
  
          <!-- Links -->
          <h5 class="text-uppercase text-primary">Mohammad Saad</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-primary">mohammadsaad7500@gmail.com</a>
            </li>
            <li>
              <a class="text-primary" href="https://in.linkedin.com/in/mohammadsaad7500">linkedIn</a>
            </li>
            <li>
              <a class="text-primary" href="https://www.instagram.com/saad_haroon7/">instagram</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-primary">© 2022 Copyright:
      <a class="text-primary" href="#">medicare.com</a>
    </div>
    <!-- Copyright -->
  
  </div>
  <!-- Footer -->
  
