<nav *ngIf="this.service2.getState()=='main'" class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a style="margin-left: 3%; " class="navbar-brand" href="#">Medicare <img style="height:40px;width: 40px;" src="..\assets\images\medicare.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">


    <ul class="navbar-nav">
      <li style="margin-left: 10%;">
        <a routerLink=""  class="nav-link btn btn-warning text-black">Dashboard</a>
      </li>


  </ul>
    <ul style="margin-left: 70%;" class="nav navbar-nav navbar-right">
      <li>
        <a class=" btn btn-success" routerLink="login">signIn <img style="height:20px;width: 20px;" src="..\assets\images\login.png"> </a>
      </li>


      <li>
        <a class="nav-link btn btn-primary" routerLink="form">signUp <img style="height:15px;width: 20px;" src="..\assets\images\signup.png"></a>
      </li>

    </ul>

  </div>
</nav>




<nav *ngIf="this.service2.getState()=='admin'" class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a style="margin-left: 3%; " class="navbar-brand" href="#">Medicare <img style="height:40px;width: 40px;" src="..\assets\images\medicare.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link btn btn-warning text-black">Admin</a>
        </li>
    </ul>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminArea/users">List of Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminArea/medicare">Medicare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminArea/med-form">Medicine Form</a>
    </li>
      <li class="nav-item">
      <a  class="nav-link"  routerLink="/adminArea/resetPassword" >reset password</a>
    </li>
    </ul>

    <ul  style="margin-left: 57%;" class="nav navbar-nav navbar-right">


      <li>
        <a class="btn btn-danger" routerLink="/" (click)="signOut()">SignOut <img style="height:20px;width: 20px;" src="..\assets\images\signout.png"></a>
      </li>


    </ul>

  </div>
</nav>



 <!-- user nav bar -->
<nav *ngIf="this.service2.getState()=='user' " class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="margin-left: 3%; " class="navbar-brand" href="#">Medicare <img style="height:40px;width: 40px;" src="..\assets\images\medicare.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link btn btn-warning text-black">{{user.name}}</a>

      </li>
      <li>
        <a class="nav-link" routerLink="/userArea/userTicket">My Medicines</a>
      </li>
  </ul>

    <ul style="margin-left: 75%;" class="nav navbar-nav navbar-right">
      <li>
        <a class="btn btn-danger" routerLink="/" (click)="signOut()">SignOut <img style="height:20px;width: 20px;" src="..\assets\images\signout.png"></a>
      </li>


    </ul>

  </div>
</nav>






