<div style="width: 500px; margin:auto;">
    <div class="submit-form">
        <div *ngIf="!isSubmitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" required [(ngModel)]="medicine.name" name="name">
            </div>

            <div class="form-group">
                <label for="description">ManufactureBy</label>
                <input class="form-control" id="manufactureBy" required [(ngModel)]="medicine.manufactureBy" name="manufactureBy">
            </div>

            <div class="form-group">
                <label for="category">ConsumeType</label>
                <input class="form-control" id="consumeType" required [(ngModel)]="medicine.consumeType" name="consumeType">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" id="price" required [(ngModel)]="medicine.price" name="price">
            </div>

            <div *ngIf="currentFile" class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress }}%
                </div>
              </div>
              
             
              
              <button class="btn btn-success"  (click)="addUser()">
                Upload
              </button>
              
              <div class="alert alert-light" role="alert">{{ message }}</div>
              

             
              
            
        </div>
        <div *ngIf="isSubmitted">
            <h3> Data Added Successfully</h3>
        </div>
    </div>
</div>